.post-detail {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  overflow-x: hidden;
  height: 100%;
  overflow-y: hidden;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  pointer-events: none;
  margin-left: 0;
  box-sizing: content-box;
  outline: none;
}
.post-container {
  display: flex;
}
.post-media {
  max-height: 897px;
  max-width: 897px;
  aspect-ratio: 1 / 1;
  flex-grow: 1;
  justify-content: center;
  min-height: 450px;
  overflow: hidden;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  position: relative;
  border-radius: 8px 0 0 8px;
}
.medias {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-comment {
  background-color: white;
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 2;
  font-size: 100%;
  margin: 0;
  max-width: 500px;
  min-width: 405px;
  padding: 0;
  position: relative;
  vertical-align: baseline;
  border-radius: 0 8px 8px 0;
  pointer-events: auto;
}
.comment-header {
  border-left: 1px rgb(219, 219, 219) solid;
  border-bottom: 1px rgb(219, 219, 219) solid;
  border-radius: 4px;
}
.ch1 {
  display: flex;
  align-items: center;
}
.cht1 {
  display: flex;
  flex-grow: 1;
  padding: 14px 4px 14px 16px;
  flex-direction: row;
  align-items: center;
}
.uf {
  display: flex;
  margin-left: 10px;
}
.uf button {
  background: none;
  border: 0;
  text-align: center;
  display: inline-block;
  padding: 0 !important;
  position: relative;
  margin-left: 5px;
}
.uf button :hover {
  color: #444950;
}
.ft {
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 149, 246);
  vertical-align: middle;
}
.un {
  font-size: 14px;
  vertical-align: middle;
  line-height: 23px;
  margin-right: 5px;
}
.mb {
  padding: 8px;
}
.comment-main {
  flex-grow: 1;
  border-left: 1px rgb(219, 219, 219) solid;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.comment {
  margin: 0 0 auto;
  padding: 0 16px;
  order: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
  overflow: auto;
  position: relative;
}
.comment-list {
  border: 0;
  box-sizing: content-box;
  flex-grow: 1;
  font: inherit;
  font-size: 100%;
  height: calc(100% - 32px);
  left: 0;
  margin: 0;
  overflow-y: scroll;
  padding: 16px;
  position: absolute;
  scrollbar-width: none;
  vertical-align: baseline;
  width: calc(100% - 32px);
  list-style-type: none;
  -ms-overflow-style: none;
}
.comment-list::-webkit-scrollbar {
  display: none;
}
.section1 {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 6px;
  order: 2;
  border-top: 1px rgb(219, 219, 219) solid;
}
.mSection1{
  display: flex;
  flex-direction: row;
  padding-top: 6px;
  order: 2;
}
.icon {
  justify-content: center;
}
.ficon {
  margin-left: -8px;
}
.icon-left {
  margin-left: auto;
  margin-right: -10px;
}
.section2 {
  
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  order: 4;
}
.m {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  order: 4;
}
.section2 span{
  font-weight: 600;
  color: rgb(38, 38, 38);
  cursor: pointer;
}
.section2 span:hover{
  opacity: .5;
}
.like{
  font-size: 14px;
  font-weight: 600;
}
.section3 {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(115, 115, 115);
  order: 5;
}
.section4 {
  order: 6;
  width: 100%;
  border-top: 1px rgb(219, 219, 219) solid;
}

.c-back-btn,
.c-next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; 
}

.c-back-btn {
  left: 2%;
}

.c-next-btn {
  right: 2%;
}
.p-content {
  display: flex;
  align-items: flex-start;
}
.c1 {
  margin-right: 15px;
}
.c2 {
  align-items: center;
  display: inline-flex;
  font-size: 13px;
  font-weight: 600;
  margin-right: 5px;
  color: rgb(38, 38, 38);
}
.c3 {
  display: inline;
  font-size: 14px;
  font-weight: 400;
}
.comment-list li {
  padding: 0 14px 16px 0;
}
.cml {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.c-btn {
  background: none;
  border: 0;
  font-weight: 600;
  font-size: 12px;
  color: rgb(115, 115, 115);
}
.crAt {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.crAt div {
  font-size: 12px;
  padding-right: 5px;
  color: rgb(115, 115, 115);
}
.moreBtn {
  margin-top: 10px;
  text-align: center;
}
.cmb {
  padding: 0;
}
.cmb button {
  background: none;
  border: none;
  cursor: pointer;
}
.ml{
  margin-left: 50px;
}
.cmb span {
  font-weight: 600;
  color: rgb(115, 115, 115);
  font-size: 12px;
}
.cmll {
  border: 0;
  border-bottom: 1px solid rgb(115, 115, 115);
  box-sizing: border-box;
  display: inline-block;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  height: 0;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 20px;
}
