.mainPage {
  display: flex;
}
.main-left {
  width: 300px;
  border: 1px solid;
}

.main-center {
  width: 50%;
  min-width: 800px;
  margin-left: 350px;
  height: 100%;
}
.follow-container {
  width: 30%;
  min-width: 300px;
  position: relative !important;
  z-index: 1 !important;
}
.follow-container .content {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 25px 10px;
}
.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(115, 115, 115);
}
