.user_post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;
}
.user_post div {
  aspect-ratio: 1 / 1;
  display: block;
  overflow: hidden;
  width: 100%;
}
.user_post img {
  object-fit: cover;
}
.empty {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.emptyImg {
  border: 2px solid;
  border-radius: 50%;
  padding: 15px;
  display: flex;
}
.emptyT {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookmarkT{
  padding-bottom: 40px;
  font-size: 12px;
  color: rgb(115, 115, 115);
}
.postbtn{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.postbtn button{
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 149, 246);
}

.postbtn button:hover{
  color: rgb(0, 55, 107);
}