.follow_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}
.t{
  width: 400px;
  height: 400px;
  border-radius: 12px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: calc(100vh - 40px);
  background-color: white;
  pointer-events: auto;
}
.follow_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 400px;
  min-height: 200px;
  overflow-y: visible;
}
.follow_section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 44px;
  width: 100%;
  border-bottom: 1px solid rgb(219, 219, 219);
  font-size: 16px;
  font-weight: 600;
}
.follow_section1 button {
  position: absolute;
  background: none;
  border: none;
  right: 0;
}
.follow_section2 {
  padding: 10px 20px;
  display: flex;
}
.follow_section2 input {
  padding: 8px 20px;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
}
.followList {
  overflow-y: scroll;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 200px;
  border-radius: 12px;
}
.followList .follow{
  height: auto;
  overflow: hidden auto;
}