.room {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}
.header {
  margin: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.header div {
  display: flex;
  align-items: center;
}
.header span {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.list {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  max-height: 780px;
  padding: 0px 20px;
}
.list .my {
  justify-content: flex-end;
}
.list .msg_list {
  display: flex;
}
.list .msg {
  display: flex;
  align-items: center;
  padding: 5px;
}
.list .msg .profile {
  margin-right: 8px;
}
.list .msg .message{
  border-radius: 12px;
  background-color: rgb(239, 239, 239);
  padding: 10px;
}
.myMessage {
  background-color: rgb(0, 149, 246) !important;
  color: white;
}
 .input {
  padding: 20px 20px;
  position: relative;
}
.input textarea {
  width: calc(100% - 40px);
  outline: none;
  border-radius: 50px;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px 20px;
  resize: none;
  font-size: 16px;
  display: flex;
  height: 20px;
}
.input div {
  position: absolute;
  bottom: 25px;
  right: 30px;
}
.input button {
  padding: 7px;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(0, 149, 246);
}
.input button:hover {
  color: rgb(0, 55, 107);
}
.msgIcon{
  border: 1px solid rgb(219, 219, 219);
  border-radius: 50%;
  padding: 20px;
  display: flex;
}
.msgBtn{
  margin-top: 20px;
}
.msgBtn button{
  border: none;
  background-color: rgb(0, 149, 246);
  color: white;
  border-radius: 8px;
  padding: 7px 10px;
}
.msgBtn button:hover{
  background-color: rgb(0, 55, 107);
}
.list .createdAt {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  font-size: 14px;
  color: rgb(115, 115, 115);
}