.signup {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.signup-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.signup-left {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-right {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.paper {
  width: 30vw;
  border-radius: 1.8rem !important;
}
.paper-title {
  padding-top: 20px;
  font-size: "1.6vw";
  font-family: "Spoqa Han Sans Neo";
}
.signup-input {
  width: 22vw;
  margin: 0.5vw !important;
}

.ignup-input-box {
  margin: 0.5vw;
}

.signup-btn1 {
  width: 15vw;
  height: 3vw;
  background-color: #5253ea !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: white !important;
  margin: 1vw !important;
}
.signup-btn1:hover{
  background-color: #4545b7 !important;
}
.goToSignIn {
  padding-bottom: 2vw;
}
.goToSignIn a{
  text-decoration: none;
  font-weight: 600;
  color: rgb(0, 149, 246);
}
.goToSignIn a:hover{
  color: rgb(24, 119, 242);
}