.modal_content {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  position: relative;
}
.cropTitle{
  background-color: white;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-weight: 600;
  font-size: 14px;
}
.pimg {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-grow: 1;
  border: 1px solid white;
}
.cropper {
  overflow: hidden;
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0);
}
.cropBtn{
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  justify-content: flex-end;
  height: 44px;

}
.cropBtn button{
  background: none;
  border: none;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.cropBtn button:hover{
  color: rgb(0, 149, 246);
}