.mainPage {
  width: 1300px;
  margin: auto;
  display: flex;
}
.main-left {
  width: 300px;
  border: 1px solid;
}
.nav-container {
  width: 250px;
}
.main-center {
  width: 700px;
}
.follow-container {
  width: 300px;
  position: relative !important;

  z-index: 1 !important;
}

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
