.mainPage {
  margin: auto;
  display: flex;
  height: 100vh;
  overflow-y: scroll;

}
.main-left {
  width: 300px;
  border: 1px solid;
}

.main-center {
  width: 50%;
  min-width: 800px;
}
.follow-container {
  width: 300px;
  position: relative !important;

  z-index: 1 !important;
}

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
