.prfile {
  padding: 30px 20px;
  width: calc(100% - 40px);
  margin: 10px auto 30px;
  max-width: 935px;
}
.pcontent{
  width: calc(100% - 18%);
  margin-left: 350px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(219, 219, 219);
}
.menu button{
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  font-size: 13px;
  font-weight: 600;
  padding: 20px 0;
  color: rgb(142, 142, 142);
  cursor: pointer;
}
.click{
  border-top: 1px solid !important;
  color: black !important;
  margin-top: -1px;
}
.mgt20{
  margin-top: 20px;
}