.segFollow{
  width: 550px;
  padding-top: 50px;
}
.follow-center{
  width: 100%;
  margin-left: 370px;
  display: flex;
  justify-content: center;
}
.seg{
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}