
.post-image {
  width: 900px;
  height: 700px;
  position: absolute;
  overflow: hidden;
}
.create-post {
  width: 1060px;
  background-color: white;
  border-radius: 8px;
  height: 736px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.create-post-title {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  position: relative;
}
.create-post-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.create-post-content {
  margin-left: 5px;
  width: 700px;
  height: 700px;
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.create-post-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.post-text {
  position: absolute;
  width: 350px;
  height: 698px;
  border-left: 1px solid;
  right: 0;
}
.upload-icon {
  margin-bottom: 10px;
  margin-left: 17px;
}
#fileInput {
  display: none;
}
.back-btn {
  position: relative !important;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
}
.next-btn {
  position: absolute !important;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
}
.post-textField {
  width: 100%;
}
.post-btn {
  position: absolute !important;
  right: 0;
  top: 0;
  padding: 0 !important;
}

