
.modal_content .title {
  background-color: white;
  height: 44px;
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0 0;
  font-size: 16px;
  font-weight: 600;
}

.modal_content .user {
  background-color: white;
  display: flex;
  padding: 10px;
}
.user .img {
  margin-right: 15px;
}
.modal_content span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 3px 0;
}
.modal_content .info{
  width: 250px;
}
.modal_content .intro {
  background-color: white;
  padding: 10px;
}
.modal_content .btn {
  background-color: white;
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0 0 8px 8px;
  padding: 0 10px;
}
.modal_content button{
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
}
.modal_content button:hover{
  color: rgb(0, 149, 246);
}
