.chat {
  display: flex;
  width: 100%;
  margin-left: 80px;
}
.chatList {
  width: 540px;
  height: 100%;
  border-right: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
}
.chatList .chat_header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 24px;
}
.chatList .chat_header div {
  border: 2px solid rgb(85, 85, 85);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.chatList .chat_t{
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 700;
}
.chatList .chat_content{
  flex-grow: 1;
  overflow-y: scroll;
}
.chat_room {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
