.modal-container{
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}
.modal-container .editBtn button {
  width: 400px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-bottom: 1px rgb(219, 219, 219) solid;
  font-size: 14px;
  font-weight: 700;
}
.mbtn1 {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.mbtn2 {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.mbtnc {
  color: rgb(237, 73, 86);
}