body {
  margin: 0;
  background-color: white;
}

.paper {
  width: 500px;
  border-radius: 1.8rem !important;
}
.paper-title {
  padding-top: 20px;
  font-size: "1.6vw";
  font-family: "Spoqa Han Sans Neo";
}

.signup-input-box {
  margin: 0.5vw;
  height: 80px
}
.false {
  font-size: 13px;
  font-weight: 600;
  color: rgb(115, 115, 115);
}
.signup-btn {
  width: 190px;
  height: 55px;
  display: inline-block !important;
  background-color: #5253ea !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: white !important;
  margin: 1vw 0.5rem !important;
}
.signup-btn:hover {
  background-color: #4545b7 !important;
}
